<section id="top">
  <header role="banner">
    <hgroup>
      <h2>Error!</h2>
      <h1>404.</h1>
    </hgroup>
  </header>
</div>
<section id="bottom">
  <div class="content">
    <p>Try again from the <a href="/">beginning</a>.</p>
  </div>
</div>