<section id="top">
  <header role="banner">
    <hgroup>
      <h2>Hi. My name is</h2>
      <h1>Jane Doe.</h1>
    </hgroup>
  </header>
</section>
<section id="bottom">
  <div class="content">
    <p>Here is a succinct sentence about me.</p>
    <p>Find me on <a href="#">Github</a> and <a href="#">LinkedIn</a>. Follow me on <a href="#">Twitter</a>. Read my blog, <a href="#">Cool Blog</a>.</p>
    <p>P.S. More about me.</p>
  </div>
</section>
<footer>
  <div class="outer">
    <div class="inner">
      <img id="portrait" src="images/portrait.png" />
      <ul id="social">
        <li><a href="#"><i class="icon-github-alt icon-large"></i></a></li>
        <li><a href="#"><i class="icon-linkedin icon-large"></i></a></li>
        <li><a href="#"><i class="icon-twitter icon-large"></i></a></li>
      </ul>
    </div>
  </div>
</footer>
